input[type='radio'] {
    height: 25px;
    width: 25px;
}

#clock {
    font-size: 3rem;
    font-family: Orbitron;
    letter-spacing: 7px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

#automan, #entraesce, #dipendenti {
    display: inline-flex;
}